body {
    font-family: "Comfortaa", cursive;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    color: #282A2D;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

/* !-----HEADER----- */

.header {
    background: #dadada;
    box-shadow: 0 0 5px;
    padding: 20px 0;
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__search {
    display: flex;
    justify-content: center;
    flex: 0 1 50%;
    font-size: 16px;
}

.header__form {
    width: 79%;
    display: flex;
    position: relative;
    align-items: center;
}

.header__search-input {
    flex: 1 1 auto;
    padding: 15px;
    box-shadow: 0 0 2px #282A2D;
    border-radius: 7px;
}

.header__search-button {
    position: absolute;
    right: 15px;
    background-color: #fff;
    font-size: 120%;
}

.header__logo {
    flex: 0 0 180px;
}

.header__logo img {
    max-width: 100%;
}

.header__buttons {
    display: flex;
    justify-content: center;
    flex: 0 1 50%;
}

.header__button {
    flex: 0 1 23%;
    background-color: #fff;
    box-shadow: 0 0 2px #282A2D;
    color: #282A2D;
    padding: 15px;
    border-radius: 7px;
    margin-right: 5%;
    font-weight: bold;
    text-align: center;
}

.header__button:hover {
    background-color: #000;
    color: white;
    position: relative;
    bottom: 5px;
    box-shadow: 0 5px 0 #fff;
}

.header__button:last-child {
    margin: 0;
}

/* !-----CATALOG----- */

.catalog {
    padding: 30px;
}

.catalog__row {
    display: flex;
    margin: 0 -15px;
}

.catalog__min-block {
    flex: 0 1 25%;
    padding: 0 15px;
}

.catalog__max-block {
    flex: 0 1 75%;
    padding: 0 15px;
}

/* ?-----FILTER----- */

.filter {
    display: flex;
    flex-direction: column;
}

.filter__block {
    background: #dadada;
    padding: 20px;
    box-shadow: 0 0 2px #636363;
    margin-bottom: 30px;
}

.filter__title {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

.filter__body {}

.filter__checkbox {
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}

.filter__checkbox:last-child {
    margin-bottom: 0;
}

.filter__checkbox-input {
    width: 17px;
    height: 17px;
    margin-right: 10px;
}

.filter__show {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 24px;
    background: #000000;
    padding: 15px;
    box-shadow: 0 0 5px #636363;
    border-radius: 4px;
}

/* ?-----PRODUCT----- */

.catalog__product {}

.product {}

.product__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.product__body {
    flex: 0 1 33.333%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.product__block {
    text-align: center;
    box-shadow: 0 0 2px #636363;
    padding: 20px;
}

.product__block:hover {
    box-shadow: 0 0 2px #636363;
    background: #dadada;
    cursor: pointer;
}

.product__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.product__image img {
    max-height: 250px;
    margin-bottom: 25px;
}

.product__desc {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 21px;
    color: #282A2D;
}

.product__price {
    font-weight: bold;
}

.product__basket i {
    color: #282A2D;
}

/* !-----FOOTER----- */

.footer {
    background: #dadada;
    box-shadow: 0 0 5px;
    padding: 20px 0;
}

.footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    flex: 0 1 50%;

}

.footer__text {
    display: flex;
    align-items: center;
}

.footer__text img {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}


.footer__contacts {
    display: flex;
    align-items: center;
}

.footer__contacts i {
    font-size: 28px;
    margin-right: 15px;
}

.footer__contacts a {
    font-size: 17px;
    background-color: #fff;
    color: #282A2D;
    padding: 10px;
    border-radius: 15px;
    margin-left: 15px;
    box-shadow: 0 0 2px #636363;
}