// !-----CATALOG-----
/* !-----CATALOG----- */

.catalog {
	padding: 30px;
}

.catalog__row {
	display: flex;
	margin: 0 -15px;
}

.catalog__minBlock {
	flex: 0 0 22%;
	padding: 0 15px;
}

.catalog__maxBlock {
	flex: 0 0 100%;
	padding: 0 15px;
}