.information__order {
	margin-left: 100px;
	max-width: 70%;
	.order__form {
        padding: 15px;
		display: flex;
		min-height: 60vh;
        flex-direction: column;
		.order__info {
			display: flex;
			font-size: 26px;
			background: #dadada;
			box-shadow: 0 0 5px;
			border-radius: 10px;
			padding: 20px;
			align-items: center;
			margin-bottom: 20px;
			.order__number {
				text-align: center;
				line-height: 30px;
				width: 20px;
				height: 30px;
				border-radius: 50%;
				margin-right: 20px;
			}
			.order__label {
				margin-right: 20px;
				font-size: 100%;
			}
			.order__price {
				font-weight: bold;
				margin-right: 20px;
			}
			.order__status {
				margin-right: 20px;
				color: rgb(255, 23, 7);
				font-weight: bold;
				&::before {
					content: "";
					border: 1px solid black;
					margin-right: 15px;
				}
			}
		}
	}
}
