/* !-----PRODUCT----- */

.product {
	width: 100%;
}
.product__row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 0 -15px;
}
.body {
	padding: 0 15px;
	margin-bottom: 30px;
}

.block {
	text-align: center;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	min-height: 365px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
	color: #282a2d;
	// &:hover {
	// 	box-shadow: 0 0 2px #636363;
	// 	background: #dadada;
	// 	.basket button {
	// 		background: #fff;
	// 	}
	// }
}

.title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

.image {
	max-width: 100%;
	margin-bottom: 25px;
	img {
		max-width: 100%;
		max-height: 230px;
	}
}

.desc {
	width: 70%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 21px;
	font-weight: bold;
	color: #282a2d;
}

.basket {
	.check {
		height: 31px;
		i {
			font-size: 35px;
		}
	}
	button {
		background: #e0e0e0;
		box-shadow: 0 2px 0 3px #919191, 0 0 0 1px #e3e4e8;
		border-radius: 7px;
		width: 54px;
		height: 31px;
		display: flex;
		align-items: center;
		justify-content: center;
		&:active {
			box-shadow: 0 0 1px 1px #919191;
			transform: translateY(3px);
		}
		&:hover {
			background: #e0e0e0;
			i {
				color: #000;
			}
		}
		i {
			font-size: 25px;
			color: rgb(71, 71, 71);
		}
	}
}
