@charset "UTF-8";
/* !Обнуление */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:after, *:before {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* !-----HEADER----- */
header {
  background: #dadada;
  box-shadow: 0 0 5px;
  padding: 20px 0;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__search {
  display: flex;
  justify-content: center;
  flex: 0 1 50%;
  font-size: 16px;
}

.header__form {
  width: 79%;
  display: flex;
  position: relative;
  align-items: center;
}

.header__search-input {
  flex: 1 1 auto;
  padding: 15px;
  box-shadow: 0 0 2px #282A2D;
  border-radius: 7px;
}

.header__search-button {
  position: absolute;
  right: 15px;
  background-color: #fff;
  font-size: 120%;
}

.header__logo {
  flex: 0 0 180px;
}
.header__logo img {
  max-width: 100%;
}

.header__menu {
  display: flex;
  justify-content: center;
  flex: 0 1 50%;
}

.header__button {
  flex: 0 1 23%;
  background-color: #fff;
  box-shadow: 0 0 2px #282A2D;
  color: #282A2D;
  padding: 15px;
  border-radius: 7px;
  margin-right: 5%;
  font-weight: bold;
  text-align: center;
}
.header__button:hover {
  background-color: #000;
  color: white;
  box-shadow: 0 5px 0 #fff;
}
.header__button:last-child {
  margin: 0;
}

/* !-----FOOTER----- */
.footer {
  background: #dadada;
  box-shadow: 0 0 5px;
  padding: 20px 0;
}

.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  flex: 0 1 50%;
}

.footer__text {
  display: flex;
  align-items: center;
}
.footer__text img {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.footer__contacts {
  display: flex;
  align-items: center;
}
.footer__contacts i {
  font-size: 28px;
  margin-right: 15px;
  color: #282A2D;
}

.footer__tel {
  background-color: #fff;
  font-size: 17px;
  color: #282A2D;
  padding: 10px;
  border-radius: 15px;
  margin-left: 15px;
  box-shadow: 0 0 2px #636363;
}

/* ?__________MAIN__________ */
body {
  font-family: "Comfortaa", cursive;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  overflow: hidden;
  color: #6c6d70;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

/* !-----PRODUCT----- */
.product {
  padding: 30px;
}

.product__block {
  box-shadow: 0 0 8px #DADADA;
}

.product__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  position: relative;
}
.product__header::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #DADADA;
}

.product__title {
  font-size: 25px;
  padding: 0 40px;
  font-weight: 700;
  text-shadow: 1px 1px #cccccc;
}

.product__buttons {
  padding: 0 30px;
}
.product__buttons a {
  color: #282829;
  padding: 10px 15px;
  border-radius: 15px;
  box-shadow: 0 0 4px #DADADA;
  margin-left: 40px;
}
.product__buttons a:hover {
  background-color: #DADADA;
}

.product__body {
  padding: 40px 0;
}

.product__row {
  display: flex;
}

.slider {
  flex: 0 1 45%;
}

.slider__block {
  width: 80%;
  min-height: 600px;
  margin: 0 auto;
  background-color: #dadada;
}

.product__info {
  flex: 0 1 55%;
}