
// ?__________MAIN__________
/* ?__________MAIN__________ */

body {
	font-family: "Comfortaa", cursive;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	overflow: hidden;
}

.main {
	padding: 30px;
}

.container {
	max-width: 1600px;
	margin: 0 auto;
}