// !-----FOOTER-----
/* !-----FOOTER----- */

.footer {
	background: #dadada;
	box-shadow: 0 0 5px;
	padding: 20px 0;
}
.container {
	max-width: 1600px;
	margin: 0 auto;
}

.footer__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__copyright {
	flex: 0 1 50%;

}

.footer__text {
	display: flex;
	align-items: center;

	img {
		width: 22px;
		margin-right: 10px;
	}
}

.footer__contacts {
	display: flex;
	align-items: center;

	i {
		font-size: 28px;
		margin-right: 15px;
		color: #282A2D;
	}
}

.footer__tel {
	background-color: #fff;
	font-size: 17px;
	color: #282A2D;
	padding: 10px;
	border-radius: 15px;
	margin-left: 15px;
	box-shadow: 0 0 2px #636363;
}